:root {
    --html-bg: rgb(223, 224, 224);
    --body-bg: rgb(252, 250, 250);
    --button-bg-color: rgb(246, 213, 84);
    --font-familly: Arial, Helvetica, sans-serif;;
}

html{
    background-color: var(--html-bg);
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: var(--font-familly);
}

body {
    background-color: var(--body-bg);
    width: 70vw;
    height: 93vh;
    margin-top: 2%;
    margin-left: 15%;
    border-radius: 10px;
}
/* __________________________________________________________________________________________ */

.container_1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid beige; */

    .navigation {
        width: 70%;
    }

    & p {
        font-size: 1.4rem;
        font-weight: bold;
        
    }

    ul {
        margin-left: 38%;
    }
}

ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-family: var(--font-familly);
    font-weight: bold;
}

ul li a {
    text-decoration: none;
    color: rgb(5, 5, 5);

    &:hover {
        color: rgb(79, 143, 196);
        text-decoration: underline rgb(79, 143, 196);
    }
}
/* __________________________________________________________________________________________ */

.container_2 {
    width: 100%;
    height: 45vh;
    position: relative;
}

.container_2 img {
    width: 380px;
    height: 380px;
    position: absolute;
    left: 55%;
}

.container_2 #words {
    width: 70%;
    position: absolute;
    left: 5%;
    top: 20%;
}

#words p:first-child, .name {
    font-size: 3rem;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    margin: 0;
    margin-right: 40%;
}

.name {
    margin-left: 6px;
}

#description {
    font-size: 1.8rem;
}

button {
    background-color: var(--button-bg-color);
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.5px;

    &:hover {
        cursor: pointer;
        background-color: rgba(246, 213, 84, 0.8)
    }
}
/* __________________________________________________________________________________________ */

.container_3 {
    margin-top: 3%;
    height: auto;
}

.container_3 h2 {
    font-size: 2rem;
    margin-left: 5%;
}

.grid-container {
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.grid-container .project {
    width: 290px;
    height: auto;
    border: 2px solid rgba(213, 211, 211, 0.6);
    border-radius: 8px;
    display: flow-root;
    text-align: center;
}

.project .image {
    width: 50px;
    height: 50px;
    margin: 0;
    background-color: rgb(232, 135, 193);
    border-radius: 50%;
    float: left;
    position: relative;
    top: 5%;
    left: 5%;
}

.project p {
    margin-left: 20px;
}

.one {
    background-image: url(./assets/images/project_one.png);
}

.two {
    background-image: url(./assets/images/goal-large.png);
}

.three {
    background-image: url(./assets/images/three.png);
}

.image {
    background-size: cover;
    background-repeat: calc(10% + 10px);
    background-position: center bottom 100px;
}